body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 20px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-image: url(images/jardine-juniper.jpg);
    background-size: cover;
    width: 90%;
    max-width: 800px;
    background-position: center;
    height: 250px;
    text-align: center;
    padding: 50px 0 50px;
    color: black;
    margin: 0 auto;
    border-radius: 1%;
}

.top-banner{
    width: 100%;
    background-color: #f4f4f4;
    text-align: right;
    padding: 10px 0;
}
.top-banner a{
    color: #0066cc;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.top-banner a:hover{
    color: #00478d;
}

.text-box h1{
    margin-top: 10px;
    line-height: 1.1;
}

.text-box p{
    margin-top: 0;
}



h1 {
    margin: 0;
}

h2 {
    color: #0066cc;
    margin-top: 40px;
}

section {
    max-width: 800px;
    margin: 0 auto 40px auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

.text-box {
  background-color: white; 
  padding: 5px 5px;                   /* space inside box */
  border-radius: 10px;                  /* optional rounded corners */
  text-align: center;
  max-width: 400px;
  width: 60%;
  /* height: 100%; */
  margin: 0 auto;
}
