body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 20px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-image: url(images/jardine-juniper.jpg);
    background-size: cover;
    width: 90%;
    max-width: 800px;
    background-position: center;
    height: 250px;
    text-align: center;
    padding: 50px 0 50px;
    color: black;
    margin: 0 auto;
    border-radius: 8px;
}

.top-banner{
    width: 100%;
    background-color: #f4f4f4;
    text-align: right;
    padding: 10px 0;
}
.top-banner a{
    color: #0066cc;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.top-banner a:hover{
    color: #00478d;
}

.about a:hover{
    color: #00478d;
}

.text-box h1{
    margin-top: 10px;
    line-height: 1.1;
}

.text-box p{
    margin-top: 0;
}

.project-link a{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.project-link a:hover{
    color: rgb(70, 70, 70);
    font-weight: bold;
    font-size: 20px;
}


h1 {
    margin: 0;
}

h2 {
    color: #0066cc;
    margin-top: 40px;
}

h3 {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

section {
    max-width: 800px;
    margin: 0 auto 40px auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

.text-box {
  background-color: rgb(255, 255, 255, .8); 
  padding: 5px 5px;                   /* space inside box */
  border-radius: 10px;                  /* optional rounded corners */
  text-align: center;
  max-width: 300px;
  width: 60%;
  /* height: 100%; */
  margin: 0 auto;
}

span{
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
}

.inline-image{
    margin-right: 20px;
    background-image: url("images/barplot-project1.png");
    background-size: cover;
    width: 90%;
    max-width: 800px;
}

.project-figure {
    text-align: center;
}

.project-figure img{
    width: 700px;
    max-width: 100%;
    border-radius: 8px;
}

.project-figure2 {
    text-align: center;
}

.project-figure2 img{
    width: 400px;
    max-width: 100%;
    border-radius: 8px;
}

.chris_sweater {
    text-align: center;
}

.chris_sweater img{
    width: 300px;
    max-width: 100%;
    border-radius: 8px;
}

p1 {
    font-size: 14px;
}

.photo-gallery {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* crops nicely without stretching */
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}
